@import 'nib'

html, body
  margin 20px

.coins
  padding 2em 0

.clr
  clear both

.coin
  width 55px
  float left
  margin-right 2em
  padding 1em
  text-align center
  margin-bottom 2em

.answer
  clear both
  margin-top 2em
